html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

#div {
    color: blanchedalmond;
    background: linear-gradient(300deg, red, black, blue);
    padding: .5%;
    margin: 0;
    font-size: xx-large;
}
.section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    padding: 8px 20px;
    margin: 20px auto;
    background: black;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.section a {
    color: blanchedalmond;
    text-decoration: none;
}

.section:hover {
    transform: scale(1.05);
}


#p {
    background: linear-gradient(
        300deg,
        rgb(165, 159, 159),
        black,
        rgb(120, 120, 153)
    );

    color: rgb(183, 206, 84);
    font-size: xx-large;
    padding: 30px;
    margin: 0;
} 